* {
    background-color: lightpink;
}

#index-title {
    color:rgb(12, 74, 95);
}

.recipe-link {
    font-size: large;
}

.lasagna-page {
    background-color: yellow;
}

.mint-chicken {
    background-color: rgb(181, 238, 209);
}

.spring-orzo-risotto {
    background-color: darkgoldenrod;
}

.index-page {
    background-color: white;
}

h1 {
    font-family: sans-serif;
}

h3 {
    font-family: monospace;
}

img {
    height: 300px;
    width: 300px;
}

div ol {
    background-color: white;
}

div ul {
    background-color: aqua;
}