* {
    background-color: lightpink;
}

.centerize {
    text-align: center;
    width: 50%;
    margin: auto;
}

.recipe-title {
    margin: auto auto 10px;
}

.info-container {
    padding-bottom: 1px;
}

#index-title {
    padding-top: 10px;
    margin-bottom: 0px;
    color:rgb(12, 74, 95);
}

#index-quote {
    display: block;
    padding-bottom: 10px;
    color: grey
}

.recipe-link {
    font-size: large;
    padding: 10px;
}

.lasagna-page {
    background-color: #ffffb5;
}

.mint-chicken {
    background-color: rgb(181, 238, 209);
}

.spring-orzo-risotto {
    background-color: darkgoldenrod;
}

.index-page {
    background-color: rgb(164, 215, 231);
}

.recipe-info, 
.recipe-info * {
    background-color: white;
}

.recipe-info {
    padding: 10px 40px;
    background-color: white;
    width: 80%;
    margin: auto auto 16px;
    text-align: left;
    display: box;
}

h1 {
    font-family: sans-serif;
}

h3 {
    font-family: monospace;
    padding-top: 10px;
}

img {
    display: block;
    margin: auto;
    width: 50%;
}